$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  min-height: 100vh;
  position: relative;
}
.bgi-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;

  > img {
    filter: blur(50px) brightness(0.85);
  }
}
.search {
  width: 100%;
  display: flex;

  > input {
    flex: 10;
    color: #333;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px 0 0 5px;

    &:focus {
      outline: none;
    }
  }
  > button {
    flex: 1;
    cursor: pointer;
    border: none;
    background-color: #fff;
  }
  .search-btn {
    border-radius: 0 5px 5px 0;
  }
}
.place-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-wrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}
.info {
  width: 80%;
  padding: 2rem;
  font-size: 1.3rem;
  line-height: 2;
  color: #fff;
  background-color: #0005;
  border-radius: 10px;
  margin: 0 auto;
}
.map {
  width: 80%;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.place-item {
  > label {
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    padding: 2rem;
    background-color: #fff;

    &:hover {
      color: #fff;
      background-color: $success;
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  > input {
    display: none;

    &:checked + label {
      color: #fff;
      background-color: $success;
    }
  }
}
.place-list {
  max-height: 60vh;
  overflow: auto;
  border-radius: 5px;

  > ul {
    height: 100%;
  }
}
.title {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
}
