<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue3-商品列表</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/vue3-products-table.css" />
  </head>
  <body>
    <div id="app" class="container my-5 mx-auto">
      <div class="add-btn"><button class="btn btn-success" v-on:click="toggle(isShow)">+</button></div>
      <!--表單-->
      <div class="my-modal" v-if="isShow">
        <form>
          <div class="text-end">
            <button type="button" class="btn-close" v-on:click="toggle(isShow)"></button>
          </div>
          <div class="form-group mb-3">
            <label class="mb-3" for="product-name"> 商品名稱 </label>
            <input id="product-name" class="form-control" type="text" v-model="temp.name" />
          </div>
          <div class="form-group mb-3">
            <label class="mb-3" for="product-image"> 商品圖片 </label>
            <input id="product-image" class="form-control mb-3" type="text" v-model="temp.imageUrl" />
            <img class="w-100" v-bind:src="temp.imageUrl" v-if="temp.imageUrl" alt="error" />
            <div class="image-load" v-else>
              <i class="bi bi-card-image"></i>
            </div>
          </div>
          <div class="form-group text-end">
            <button type="submit" class="btn btn-outline-success" v-on:click="addItem" v-if="!temp.id">
              新增
            </button>
            <button type="submit" class="btn btn-outline-success" v-on:click="editItem" v-if="temp.id">
              修改
            </button>
          </div>
        </form>
      </div>
      <!--表格-->
      <table class="table text-center mb-5">
        <thead>
          <tr>
            <th>銷售狀態</th>
            <th>標題</th>
            <th>圖片</th>
            <th>編輯</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in products" v-bind:class="{'row-select':item.onStock}" :key="item.id">
            <td>
              <input v-model="item.onStock" class="form-check-input" type="checkbox" />
            </td>
            <td>{{item.name}}</td>
            <td>
              <div class="image">
                <img v-bind:src="item.imageUrl" alt="error" v-if="item.imageUrl" />
              </div>
            </td>
            <td>
              <div class="edit d-flex flex-column">
                <button type="button" class="btn btn-outline-primary mb-3" v-on:click="showItem(item)">
                  <i class="bi bi-pencil-square me-1"></i>
                </button>
                <button class="btn btn-outline-danger" v-on:click="removeItem(item.id)">
                  <i class="bi bi-trash me-1"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <script src="../js/vue3-products-table.js"></script>
  </body>
</html>
